body{
    background-color: springgreen;
}
.headerbox{
    height: 30vh;
}
.logobox{
    height: 100%;
    width: 30%;
    float: left;
    animation-name: logoanimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
@keyframes logoanimation {
    0%{   
        transform: translate(0,-100%) scale(0)
    }
    100%{
        transform: translate(0,0) scale(1) rotate(360deg);
        }
}
.titlebox{
    background-color: yellow;
    height: 100%;
    width: 70%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline
}
.logobox img{
    width: 100%;
    height: 100%;
}
.titlebox h1{
    font-size: 3vmax;
    margin-bottom: 0;
    font-family: Snell Roundhand, cursive ;
    font-weight: 200;
}
.titlebox h2{
    font-size: 2vmax;
    font-weight: 100;
}
.slideshowbox{
    margin-top: 2vh;
    height: 10vh;
    background-color: bisque;
}
.herobox{
    height: 30vh;
    background-color: pink;
}