body {
    background-image: url(https://media.istockphoto.com/vectors/seamless-bright-blue-day-sky-pattern-with-watercolor-clouds-vector-id1156963574?k=20&m=1156963574&s=612x612&w=0&h=ezvzqhuP8nXFAGMVqADZ6ARipOKOulglV25PefyECn0=);
    background-size: cover;
    background-repeat: repeat;
    
  
}
#content{
    margin: auto;
    width: 60%;
    border: 2px none groove ridge none rgba(47, 128, 128, 0.644);

    height: 100vh;
    box-shadow: 1px 5px 20px black;
    background-color: lightgrey;
    overflow: hidden;
}

nav{
    background-color: black;
    height: 5%;
    text-align: center;
    padding: 3%;
}
footer{
    margin-top:80vh;
    background-color: black;
    height: 20vh;
}
.placeholder{
    text-align: center;
    color: white;
    padding: 8%;
}
a.nav_items{
    display: block;
    background-color: #dddddd;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: left;
}
li{
    float: left;
    margin: 10px;
}