
nav{
    width: 100%;
    height: 40%;
    position: relative;

    display: flex;
    flex-direction: row;
    text-align: center;
}
.heroIconBox{    
    width: 10%;
    height: 10%;
    margin-top: 2%;
    position: relative;
    font-size: 2vw;

    text-align: center;
}
.heroIconBox img{
    width: 100%;
    height: 100%;
}
.heroIconBox h1{
    position: absolute;
    color: blueviolet;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 2px black;
    top: 0%;
}
.logobox{
    width: 13%;
    height: 100%;
    position: absolute;
    right: 0;
}
.logobox img{
    width: 100%;
    height: 100%;
}
.placeName{
    text-align: center;
}
.contentBox{
    display: flex;
    flex-direction: column;
    padding: 2%;
    height: 50vh;
    width: 100vw;
    background-color: pink;
}
.todo1, .todo2{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45%;
}
.todo1imgbox{
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid purple;
    width: 30%;
    height: 90%;
    text-align: center;
}
.address{
    font-size: 1.2vw;
    margin-top: 0px;
}
.img1{
    width: 100%;
    height: 100%;
}
.p1{

    font-size: 1.2vw;
    color: white;
    font-weight: bold;
}
.todo1desc{
    text-align: center;
    width: 60%;
    height: 100%;
}

@media only screen and (max-width:700px){
    .p1{
        font-size: 0.9vh;
    }
    .address{
        font-size: 0.9vh;
    }
}
